:root {
  --background-color: #000000;
  --passive-font-color: #9c9c9c;
  --active-font-color: #ffffff;
  font-size: 60%; 
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  background: var(--background-color);
  font-family: 'Oswald', sans-serif;
}

#header-container {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

#nav-container nav ul li {
  list-style: none;
  display: inline;
  margin-right: 2rem;
}

#nav-container nav ul li a {
  font-size: 1.8rem;
}

#nav-container li a:hover {
  color: var(--active-font-color);
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: var(--passive-font-color);
  text-transform: uppercase;
}

.active-menu {
  color: var(--active-font-color);
}

.main-title {
  color: var(--active-font-color);
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
}

.fab {
  font-size: 2.2rem;
  margin-left: 2rem;
}

.fab:hover {
  color: var(--active-font-color);
  transition: 0.5s;
}

@media (max-width: 425px) {
  header #header-container {
    width: 100vw;
    display: block;
    align-items: center;
    justify-content: center;
  }

  #nav-container,
  #main-title-container,
  #logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #nav-container {
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }

  #main-title-container {
    margin-bottom: 3.3rem;
    margin-left: 0.3rem;
  }

  #logo-container {
    margin-left: -1.9rem;
  }
}