:root {
  --secondary-color-passive-font: #6a7076;
  --passive-font-color: #cbcbcb;
  --active-font-color: #50555b;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}